@use "media";

:root {
  --primary-color: #418dd9;
  --text-color: #000d1a;
  --red: #f60a18;
  --onest: "Onest", sans-serif;
  --content-padding: 4rem;
  --container-width: 148rem;

  @include media.breakpoint(mobile) {
    --content-padding: 2rem;
  }
}
